@import url("../styles/roots.css");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}
body {
  background-color: var(--carepulse-dark);
}
h1 {
  color: var(--text-primary);
  font-weight: 700;
  font-style: Bold;
}
