@import url("../styles/roots.css");

.glass-morphism-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    /* Lower opacity dark background */
    backdrop-filter: blur(3px);
    /* The key to the frosted effect */
    -webkit-backdrop-filter: blur(3px);
    /* For WebKit browsers (Safari) */
}
.main-modal{
    padding: 40px;
    width: 90%;
    max-width: 640px;
}
.modal-header button{
    cursor: pointer;
}
.texts h3{
        font-weight: 600;
        font-style: SemiBold;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0px;
        color: var(--text-primary);
        margin-bottom: 16px;
}
.texts p{
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
        color: var(--text-secondary);
}
.submit-btn{
        border-radius: 8px;
        padding-top: 8px;
        padding-right: 24px;
        padding-bottom: 8px;
        padding-left: 24px;
        background-color:#24AE7C;
        font-family: Plus Jakarta Sans;
            font-style: SemiBold;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: var(--text-primary);
}
.cancel-btn{
        border-radius: 8px;
        padding-top: 8px;
        padding-right: 24px;
        padding-bottom: 8px;
        padding-left: 24px;
        background-color:#F24E43;
        font-family: Plus Jakarta Sans;
            font-style: SemiBold;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: var(--text-primary);
}
.main-modal form label {
    font-weight: 500;
    font-style: Medium;
    color: #ABB8C4;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.15px;
}
.selected-doctor-container{
        border-radius: 5px;
        border-width: 1px;
        padding: 12px;
        background: linear-gradient(117.58deg, rgba(215, 237, 237, 0.16) -47.79%, rgba(204, 235, 235, 0) 100%);
        border: 1px solid #FFFFFF14;
        font-family: Plus Jakarta Sans;
            font-weight: 600;
            font-style: SemiBold;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.15px;
            color: var(--text-primary);
        }

